<div class='landing-page'>
  
  <section>
    <h1>Tessellate</h1>
    <h2>Anyone can network.<br>Organizing it is a fine art.</h2>
    
    <aside>
      <h2>SIGN IN WITH GMAIL</h2>
      <%= link_to (image_tag "http://icons.iconarchive.com/icons/igh0zt/ios7-style-metro-ui/512/MetroUI-Google-Gmail-icon.png"), "/auth/google_oauth2" %>
    </aside>
  </section>

</div>